@charset "ISO-8859-1";
body{
margin: 0;
padding: 0;
background-size: cover;
display:block;
flex-wrap: wrap;
}
.head{
	margin: 0;
	border: 0;
	width: 100%;
	height: 80px;
	background-color: aqua;
	display: flex;
	align-items: center;
}
.head #wi{
	width: 50px;
	height: 50px;
	border:1px solid black;
	padding:3px;
	border-radius: 50%;
	margin-left: 45px;
	background-color: white;
}
.head h2{
	margin-left: 15px;
}
.icons{
	position: relative;
	top: 0;
	right: -65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icons img{
	width: 30px;
	height: 30px;
	margin: auto;
	
}
.icons #sic{
	width:11px;
	height: 25px;
	position: relative;
	top: 0;
	right:-40px;
}
.content{
	width: 100%;
	height:619px;
	background-color:white;
	display: flex;
	justify-content: center;
	align-items: center;			
}
.profile input{
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}